<footer class="relative px-4 pt-4 pb-4">
  
  <!-- divider -->
  <div class="relative my-8">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-200"></div>
    </div>
    <div class="relative flex justify-center">
      <span class="bg-white px-2 text-gray-200">
        <!-- Ensure this icon serves a purpose or is properly labeled for accessibility -->
        <i class="text-xs far fa-square"></i>
      </span>
    </div>
  </div>

  <!-- footer msg -->
  <div class="flex flex-wrap items-center justify-center">
    <div class="text-sm text-gray-300">
      © <span id="current-year"></span>
      {% if site.footer-msg and site.footer-msg-link %}
      <a href="{{ site.footer-msg-link }}" class="!no-underline">
        {{ site.footer-msg }}
      </a>
      {% endif %}
    </div>
  </div>
</footer>

<script>
  // JavaScript to update the current year dynamically
  document.getElementById('current-year').textContent = new Date().getFullYear();
</script>
