@tailwind base;
@tailwind utilities;
@tailwind components;
.navigation {
  /* Your CSS styles for navigation */
}

/* Responsive styles */
@media screen and (min-width: 768px) {
  .navigation ul {
    /* styles for larger screens */
  }
}
.menu {
  text-align: center;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  display: inline;
  margin-right: 20px;
}

.menu-list li:last-child {
  margin-right: 0;
}

.menu-list li a {
  text-decoration: none;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
}
.flex-center {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  flex-direction: column; /* Stack children vertically */
}
